[submodule "packages/web3dart_builders"]
	path = packages/web3dart_builders
	url = https://github.com/5eeman/web3dart_builders.git
[submodule "packages/bip32-dart"]
	path = packages/bip32-dart
	url = https://github.com/5eeman/bip32-dart.git
